[submodule "libraries/gpio_expander"]
	path = libraries/gpio_expander
	url = https://github.com/hanyazou/gpio_expander
[submodule "libraries/BMI160-Arduino"]
	path = libraries/BMI160-Arduino
	url = https://github.com/hanyazou/BMI160-Arduino
[submodule "libraries/SparkFun_LIS3DH_Arduino_Library"]
	path = libraries/SparkFun_LIS3DH_Arduino_Library
	url = https://github.com/sparkfun/SparkFun_LIS3DH_Arduino_Library
[submodule "libraries/SparkFun_LSM6DS3_Arduino_Library"]
	path = libraries/SparkFun_LSM6DS3_Arduino_Library
	url = https://github.com/sparkfun/SparkFun_LSM6DS3_Arduino_Library
[submodule "libraries/Adafruit_FeatherOLED"]
	path = libraries/Adafruit_FeatherOLED
	url = https://github.com/adafruit/Adafruit_FeatherOLED
[submodule "libraries/Adafruit-GFX-Library"]
	path = libraries/Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library
[submodule "libraries/Adafruit_SSD1306"]
	path = libraries/Adafruit_SSD1306
	url = https://github.com/adafruit/Adafruit_SSD1306
[submodule "libraries/MAX6675-library"]
	path = libraries/MAX6675-library
	url = https://github.com/adafruit/MAX6675-library.git
[submodule "libraries/Adafruit-MAX31855-library"]
	path = libraries/Adafruit-MAX31855-library
	url = https://github.com/adafruit/Adafruit-MAX31855-library.git
[submodule "libraries/Adafruit_NeoPixel"]
	path = libraries/Adafruit_NeoPixel
	url = https://github.com/adafruit/Adafruit_NeoPixel
[submodule "libraries/Adafruit_ILI9341"]
	path = libraries/Adafruit_ILI9341
	url = https://github.com/adafruit/Adafruit_ILI9341.git
[submodule "libraries/Adafruit_ILI9340"]
	path = libraries/Adafruit_ILI9340
	url = https://github.com/adafruit/Adafruit_ILI9340.git
[submodule "libraries/TFTLCD-Library"]
	path = libraries/TFTLCD-Library
	url = https://github.com/hanyazou/TFTLCD-Library
[submodule "libraries/Adafruit_FT6206_Library"]
	path = libraries/Adafruit_FT6206_Library
	url = https://github.com/adafruit/Adafruit_FT6206_Library
[submodule "libraries/Touch-Screen-Library"]
	path = libraries/Touch-Screen-Library
	url = https://github.com/adafruit/Touch-Screen-Library
[submodule "libraries/MCUFRIEND_kbv"]
	path = libraries/MCUFRIEND_kbv
	url = https://github.com/prenticedavid/MCUFRIEND_kbv
[submodule "libraries/Adafruit-SSD1331-OLED-Driver-Library-for-Arduino"]
	path = libraries/Adafruit-SSD1331-OLED-Driver-Library-for-Arduino
	url = https://github.com/hanyazou/Adafruit-SSD1331-OLED-Driver-Library-for-Arduino
[submodule "libraries/RTClib"]
	path = libraries/RTClib
	url = https://github.com/adafruit/RTClib
[submodule "libraries/S25FLx"]
	path = libraries/S25FLx
	url = https://github.com/BleepLabs/S25FLx.git
[submodule "libraries/SPIFlash"]
	path = libraries/SPIFlash
	url = https://github.com/hanyazou/SPIFlash.git
[submodule "libraries/Adafruit_SPIFlash"]
	path = libraries/Adafruit_SPIFlash
	url = https://github.com/hanyazou/Adafruit_SPIFlash.git
[submodule "libraries/Adafruit_AMG88xx"]
	path = libraries/Adafruit_AMG88xx
	url = https://github.com/adafruit/Adafruit_AMG88xx.git
